<div class="spinner-wrapper">
  <div class="spinner"></div>
</div>
<img src="images/blog.jpg" class="header-img" alt="blog-fest" style="pointer-events: none;" />
{{> _publicSearch}}
<h1 style="color: #000000;text-align: center;">{{pageHeading}}</h1>
<div class="row">
{{#if pages}}
  <div class="center-align s12">
    <h6>
      Page
      <span>{{currentPage}}</span>
      of
      <span>{{pages}}</span>
    </h6>
  </div>
{{else}}
<h6 class="center-align s12"><a href="/">BACK TO HOMEPAGE</a></h6>
{{/if}}
  {{{checkingCurrentPagePublic currentPage pages}}}
  <div class="col s12 m6 l4">
    <div
      class="card center-align shortlist-card"
      style="border-radius: 10px;"
    >
      <div class="card-content">
        <img
          src="images/short.jpg"
          class="responsive-img short-img single-userimage" 
        />
      </div>
      <div class="card-action center-align">
          <a href="/shortlisted" class="btn grey read-btn-resp">Read Posts</a>
      </div>
      <div class="card-action center-align">
          <h6 style="color: rgb(0, 0, 0);">The posts are chosen by our english professor <br> Dr. Preeti Puri, and are verified for plagirism by whole class.</h6>
      </div>
    </div>
  </div>
  
  </div>
  {{#each stories}}
  
    <div class="col s12 m6 l4">
      <div class="card">
        <div
          class="card-content center-align"
          style="background-color: #298a91ff;"
        >
          <h5
            style="color: #fff;"
            class="story-title-resp tooltipped"
            data-position="bottom"
            data-tooltip="{{title}}"
          >{{truncate title 16}}</h5>
          <p style="color: rgb(190, 190, 190);">category: {{category}}</p>
          <br />
          <br />
          <div class="chip resp-chip">
            <img
              src="{{user.image}}"
              loading="lazy"
              alt="{{user.displayName}}"
              class="userimage"
            />
            <a href="/singleUser/user/{{user._id}}" class="username">{{truncate
                user.displayName
                21
              }}</a>
          </div>
        </div>
        <div class="card-action center-align">
          <a href="/publicStories/{{_id}}" class="btn grey read-btn-resp">Read
            the Post</a>
        </div>
        <div class="card-action center-align">
          {{#if comments}}
            <a
              href="/publicStories/{{_id}}/comments"
              class="btn grey read-btn-resp"
            >Read the Comments</a>
          {{else}}
            <a
              href="/login"
              class="btn grey read-btn-resp tooltipped"
              data-position="top"
              data-tooltip="Login to Comment & Like"
            >Comment on the Post</a>
          {{/if}}
        </div>
        <div class="card-action center-align">
          {{#if comments}}
            <i class="fas fa-comment"></i>
            {{comments.length}}
          {{else}}
            <i class="fas fa-comment"></i>
            0
          {{/if}}
          <i class="fas fa-eye"></i>
          {{visits}}
          {{#if likers}}
            <i class="fas fa-thumbs-up"></i>
            {{likers}}
          {{else}}
            <i class="fas fa-thumbs-up"></i>
            0
          {{/if}}
        </div>
      </div>
    </div>
  {{else}}
    <p>No stories to display</p>
  {{/each}}
</div>
{{{checkingCurrentPagePublic currentPage pages}}}