<div class="spinner-wrapper">
  <div class="spinner"></div>
</div>
<img src="images/blog.jpg" class="header-img" alt="blog-fest" />
<h1 style="color: #000000;text-align: center;text-decoration: underline">Our
  Judges</h1>
<div class="row">
  <div class="col s12 m6 l4 judges-card">
    <div class="card judges">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator judges-img" src="images/judge1.png" />
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Ms. Bhavleen
          Kaur<i class="material-icons right">more_vert</i></span>
        <p class="activator" style="cursor: pointer;">Click to know more</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Ms. Bhavleen Kaur<i
            class="material-icons right"
          >close</i></span>
        <p>"You cannot be a star performer all the time but you can be a star
          learner all the time." Hey!! I am a Under-Graduate Student of
          Information Technology who loves to play with codes. I am an aspirant
          who is working on ML with python. I believe i am still a learner in
          these languages as Tech areas are too vast and I will try to grasp as
          many as i can. More i explore in the field of Computers, more interest
          develops in my mind for it. I am always striving to improve myself. I
          am dedicated towards writing code that is clean, expandable and
          maintainable and building products in turn that are robust, user
          friendly and scalable.</p>
      </div>
    </div>

  </div>
  <div class="col s12 m6 l4">
    <div class="card judges">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator judges-img" src="images/judge2.jpg" />
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Abhishek
          Pandey<i class="material-icons right">more_vert</i></span>
        <p class="activator" style="cursor: pointer;">Click to know more</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Abhishek Pandey<i
            class="material-icons right"
          >close</i></span>
        <p>Hello, I am Abhishek Pandey, a student at N.I.T Jalandhar, pursuing
          my B.Tech in Electrical Engineering. I am a resident of Delhi and have
          completed my senior secondary from D.A.V. CPS Ghaziabad. While
          technical education is the avenue of my study according to the degree,
          my core interests are invested in the field of media, literature and
          socio-political studies. I have actively participated in zonal and
          inter- school debating, writing and quizzing events, elocution
          competitions and Parliamentary sessions at various other platforms,
          including Faculty of Law, D.U and British Council. I have served in
          Rotary International and represented my institution at various levels.
          Presently serving as the Vice President of the ZEAL society, the
          official club of soft skills at N.I.T Jalandhar, I have been mentoring
          students across branches for soft skills and writing aptitude, in the
          meantime continually learning from mutual interactions. I have been an
          active member of the Rajbhasha Samiti of N.I.T. Jalandhar, a society
          under the aegis of MHRD. These exposures have played a pivotal role in
          providing me the impetus required in the quest of realizing my
          aspirations. I have always aspired to discharge responsibilities where
          I have to comprehend, analyze and reflect on the developments in and
          around the social sphere and always foster for opportunities in the
          field of media and journalism where I can expand my horizons and
          realise my vision.
        </p>
      </div>
    </div>

  </div>
  {{! <div class="col s12 m6 l4">
    <div class="card judges">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator judges-img" src="images/judge1.png" />
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i
            class="material-icons right"
          >more_vert</i></span>
        <p class="activator" style="cursor: pointer;">Click to know more</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i
            class="material-icons right"
          >close</i></span>
        <p>Here is some more information about this product that is only
          revealed once clicked on.</p>
      </div>
    </div>

  </div> }}
</div>

<h1 style="color: #000000;text-align: center;">{{pageHeading}}</h1>
<div class="row">
  {{#each stories}}
    <div class="col s12 m6 l4">
      <div class="card">
        <div
          class="card-content center-align"
          style="background-color: #298a91ff;"
        >
          <h5
            style="color: #fff;"
            class="story-title-resp tooltipped"
            data-position="bottom"
            data-tooltip="{{title}}"
          >{{truncate title 16}}</h5>
          <p style="color: rgb(190, 190, 190);">category: {{category}}</p>
          <br />
          <br />
          <div class="chip resp-chip">
            <img
              src="{{user.image}}"
              loading="lazy"
              alt="{{user.displayName}}"
              class="userimage"
            />
            <a href="/singleUser/user/{{user._id}}" class="username">{{truncate
                user.displayName
                21
              }}</a>
          </div>
        </div>
        <div class="card-action center-align">
          <a href="/publicStories/{{_id}}" class="btn grey read-btn-resp">Read
            the Post</a>
        </div>
        <div class="card-action center-align">
          {{#if comments}}
            <a
              href="/publicStories/{{_id}}/comments"
              class="btn grey read-btn-resp"
            >Read the Comments</a>
          {{else}}
            <a
              href="/login"
              class="btn grey read-btn-resp tooltipped"
              data-position="top"
              data-tooltip="Login to Comment & Like"
            >Comment on the Post</a>
          {{/if}}
        </div>
        <div class="card-action center-align">
          {{#if comments}}
            <i class="fas fa-comment"></i>
            {{comments.length}}
          {{else}}
            <i class="fas fa-comment"></i>
            0
          {{/if}}
          <i class="fas fa-eye"></i>
          {{visits}}
          {{#if likers}}
            <i class="fas fa-thumbs-up"></i>
            {{likers}}
          {{else}}
            <i class="fas fa-thumbs-up"></i>
            0
          {{/if}}
        </div>
      </div>
    </div>
  {{else}}
    <p>No stories to display</p>
  {{/each}}
</div>